@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins',arail;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 12px;
}

img {
  width: 100%;
}

.nav-container {
  background: #26236E;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background: #4122AA;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #24FFAB;
}

.meet span {
  margin: 3em;
  margin-top: 1em;
}

.scroll {
  width: 30px;
  margin-top: 0.2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.about {
  position: relative;
  margin-bottom: 10%;
}

.about::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #CEC4EF;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .2em;
  font-size: 25px;
  margin-bottom: 0;
}

.featured-title {
  color: #4122AA;
  font-weight: bold;
  letter-spacing: 0.5em;
  font-size: 20px;
  margin-top: 0;
}

.desc {
  color: #363535;
  margin-bottom: 0%;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.featured {
  background: white;
}

.right-transition2 {
  width: 30%;
  margin-left: 70%;
  margin-bottom: 0;
}

.right-transition3 {
  width: 40%;
  border-radius: 1em;
  -webkit-box-shadow: 1px 1px 2px #777;
          box-shadow: 1px 1px 2px #777;
}

.skills {
  background: #FA50C0;
}

.skills-container ul li {
  -webkit-box-shadow: 1px 1px 2px #777;
          box-shadow: 1px 1px 2px #777;
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 120px;
}

.skills-container ul li .icon-container.two {
  width: 100px;
}

.skills-container ul li .icon-container.three {
  width: 120px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .skill-desc {
  margin-bottom: 2em;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: gray;
}

.github {
  background: black;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.footer {
  /* below is just for demo styling */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  width: 100%;
  background-color: #4122AA;
  line-height: 1.3;
}

.footer ul {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  .footer ul {
    grid-auto-flow: column;
  }
}

.footer a {
  color: white;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
}

.footer a:hover {
  -webkit-box-shadow: inset 0 -1.2em 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 -1.2em 0 rgba(255, 255, 255, 0.4);
}

.footer li:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.footer li:hover ~ li p {
  -webkit-animation: wave-animation 0.3s infinite;
          animation: wave-animation 0.3s infinite;
}

@media only screen and (min-width: 800px) {
  .about, .featured {
    text-align: left;
  }
  .featured, .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .inner-transition2 {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right-transition3 {
    margin-left: 50%;
    margin-top: 1em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .about::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #CEC4EF;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .meet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #24FFAB;
  }
  .meet span {
    margin: 0.5em;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66 auto;
        grid-template-columns: 66 auto;
    background: unset;
  }
  .nav-container header {
    background: #26236E;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #4122AA;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 12em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 10em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

.circle {
  animation: circleAnime 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnime {
  from {
    -webkit-transform: translate(463px, 598px);
            transform: translate(463px, 598px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(463px, 630px);
            transform: translate(463px, 630px);
    z-index: 5;
  }
}

@keyframes circleAnime {
  from {
    -webkit-transform: translate(463px, 598px);
            transform: translate(463px, 598px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(463px, 630px);
            transform: translate(463px, 630px);
    z-index: 5;
  }
}
/*# sourceMappingURL=main.css.map */